.result-wrapper {
  display: grid;
  flex: 1 1 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 0 2em;
}

.empty {
  flex: 1 1 auto;
  width: 100%;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

@media (max-width: 1024px) {
  .result-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .result-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .result-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
